{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lista de Hora{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'CSS/fachero.css' %}">
    
    {% block extra_css %}
    {% endblock %}

</head>
<body>
    <div class="main-wrapper"> 
        <nav class="navbar"> 
            <button class="hamburger" aria-label="Abrir menú">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            <div class="nav-links-container"> 
                <ul>
                    <li>
                        <a href= "/"> Inicio </a>
                    </li>
                    <li>
                        <a href= "/admin"> Administrador </a>
                    </li>
                    <li>
                        <a href= "/personnel"> Ver personal </a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li>
                        <a href= "/personnel/add"> Agregar personal </a>
                    </li>
                    <li>
                        <a href= "/logout"> Cerrar sesión </a>
                    </li>
                    
                    {% else %}
                    <li>
                        <a href= "/signup"> Agregar turno </a>
                    </li>
                    <li>
                        <a href= "/signin"> Iniciar sesión </a>
                    </li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                    <li class="user-info">
                        Guardia del {{ user.username }}
                    </li>
                    {% endif %}
                </ul>
            </div> {# Cierra nav-links-container #}
        </nav>
        
        {% block content %}
        {% endblock %}
    
    </div>

    <footer class="footer-banner">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{% static 'pics/logo_bomberos.png' %}" alt="Logo Bomberos">
            </div>
            <div class="footer-text">
                <p>Cuerpo de Bomberos de la Ciudad</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'JS/menu.js' %}"></script>
</body>
</html>