{% extends 'base.html' %}
{% load static %}

{% block title %}Personal{% endblock %}
{% block content %}
<h1 class="title_personnel">GRUPO ESPECIAL DE RESCATE GER SAAVEDRA</h1>
<div class="ger_banner">
    <img src="{% static 'pics/ger.png' %}" alt="Escudo del GER">
</div>

<h2>Personal correspondiente al Destacamento GER Saavedra</h2>
{% for turno, personal in grupos.items %}
<div class="personal">
    
    <h3>{{ turno }}</h3>
    <ul>
        {% for task in personal %}
            <li>
                {% if task.importante %}
                    <strong>{{ task.apellido_y_nombre }}</strong>
                {% else %}
                    {{ task.apellido_y_nombre }}
                {% endif %}
                - {{ task.get_jerarquia_display }} 
                L.P.: {{ task.legajo }}
                - {{ task.get_especialidad_display }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}
